body{
    background-color: aliceblue;
}
.container{
    background: #222;
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
}

.btn{
    padding: 8px 10px;
    background: lightgreen;
}

.input{
    border-radius: 7px;
    padding: 10px 15px;
}

.div{
    width: 200px;
    height: 100px;
    background: white;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.p{
    color: black;
    left: 10px;
}

.btn-danger{
    background-color: red;
    padding: 8px 10px;
}