body {
    background-image: url("../asset/traffic.png");
    background-size:contain;
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents tiling */
}

.traffic-container {
    background: transparent;
    margin: 0px 263px 282px;
}

.light {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #444;
    margin: 20px auto;
}

.red.active {
    background: red;
}

.yellow.active {
    background: yellow;
}

.green.active {
    background: green;
}